body {
  background-color:#94618E;
  margin:0px;
  color: #49274A;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background_image {
  position:relative;
  margin:0px;
  z-index:-1;
  width:100%;
}

#home_page_title {
  position:relative;
  padding-top: 5px;
  padding-left:30%;
  padding-right:35%;
  padding-bottom: 5px;
  text-align:center;
}
